/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
img{
  max-width:100%;
}
h1, h2, h3, h4, h5 {
  font-weight: bold;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(249, 200, 117, 1);
  border-color: #e7e7e7;
}
a {
  color:#BC5830;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 20px 15px 0;
  margin-top:1%;
}
.container .text-muted {
  margin: 20px 0;
}
.navbar-default {
  background-color:rgba(249, 200, 117, 1);
  border-color: #e7e7e7;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

#heart.highlight {
	color:red;
}

#heart {
	color:rgb(142, 142, 142);
}

#heart.ordinary {
	color:rgb(142, 142, 142);
}


.table.table-bordered {
  color:#BC5830;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.avatar_img {
  border-radius: 20%;
  width:30px;
  height: 30px;
}

.categories_select {
  width:25%;
}

.add-author {
  margin-left:3px;
}

.add_author_input {
  width:100px;
  height:25px;
}

.navbar-nav > li > a.link_photo {
  padding-top: 11px; 
  padding-bottom: 0px; 
}

.user_img {
  width:50px;
  height:50px;
}

.form-control.date_of_birth {
  width:32%;
  display: inline-block;
}

.form-control {
  width:97%;
}

/*color:rgba(123,66,200,0.8)*/
.div_books_container {
  width: 600px;
  height: 190px;
  margin-bottom: 10px;
  border: 1px solid rgba(223, 199, 255, 0.8);
  border-radius: 5px;
}

.div_book_cover {
  float: left;
  width: 160px;
  height: 180px;
  display: inline;
}

.book_cover {
  width:138px;
  height:198px;
  display:inline;
  float:left;
  margin:10px;
}

.div_book_info {
  float: left;
  display: inline;
  margin-left: 20px;
  width: 300px;
}

.book_img {
  width: 120px;
  height: 150px;
}

.singin_link {
  margin-left:550px;
}

.rateRight {
  float:right;
  width: 40%;
}

.viewBookContainer {
  float:left;
  margin-top:50px;
  width:60%;
}

.viewBookPhoto {
  float:left;
  width:30%;
}

.viewBookInfo {
  float:left;
  width:70%;
}

/*.commentsForm {
  float:right;
  margin-top:50px;
  width:30%;
  border:2px solid grey;
}
*/
#commentsContainer {
  margin-left:15px;
}

.viewBookButtonContainer {
  clear:both;
  margin-top:30px;
  width:50%;
}

.rateit .viewBook {
  float:right;
}

.star-box-rating-label {
  font-weight: bold;
  font-size: 13px;
}

.viewBookUsersList {
  float:right;
  width:35%;
  margin-top:20px;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

fa {
  display: inline-block;
  font: normal normal normal 19px/1 FontAwesome;
  font-size: 25px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}


.rateit .viewBook .left {
  float:left;
}

#messageContainer {
  width:100%;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding:10px;
  float:right;
  margin-top:20px;
}

.messageBox {
  height:50px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin-bottom: 5px;
}

.messageIcon {
  width: 20%;
  float: left;
  padding-left: 10px;
  padding-top: 13px;
}

.messageIconBig {
  background-image: url('../img/set.39.png');
  background-repeat: no-repeat;
  height: 30px;
  width:40px;
  background-position: -211px -76px;
  background-size: 1300px;
  float:left;
}

.messageBoxText {
  float: left;
  font-size: 19px;
  padding: 10px;
  width: 80%;
  height: 50px;
  /*border: 1px solid #e5e5e5;*/

}

.singleMessage {
  height:50px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding:5px;
  margin-bottom: 5px;
}
.singleMessageBiger{
  height:120px;
  font-weight: 800;
  /*border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding:5px;
  margin-bottom: 5px;*/
}

.messageContainerAvatar {
  float:left;
  width:15%;
}

.messageContainerContent {
  float:left;
  width: 85%;
}


.userMessageImg {
  width:40px;
  height:40px;
}

.senderContent {
  color:#777;
}
.senderContentLonger{
  color:#777;
}
div.singleMessage div.senderContent { display:block}
div.singleMessage div.senderContentLonger { display:none}
div.singleMessage.singleMessageBiger div.senderContent { display:none}
div.singleMessage.singleMessageBiger div.senderContentLonger { display:block}

.conversationView {
  margin:auto;

}
/*.allConversation{
  width:100%;
 
}*/
.messagesForm{
 margin-top:20px;
 display:none;
}
.mineMessage {
 float:left;
 width:80%;
 /*border:solid 1px rgb(202, 247, 245);*/
 border-radius:15px;
 margin-left:10px;
 margin-top:20px;
 padding:5px;
 background-color:rgba(202, 247, 245, 0.39);
 -webkit-box-shadow: 1px 1px 30px -1px rgba(162,201,222,1);
  -moz-box-shadow: 1px 1px 30px -1px rgba(162,201,222,1);
  box-shadow: 1px 1px 30px -1px rgba(162,201,222,1);
}
.strangeMessage {
 float:right;
 width:80%;
 /*border:solid 1px rgba(245, 140, 200, 0.58);*/
 border-radius:15px;
 margin-right:10px;
 margin-top:20px;
 padding:5px;
 background-color:rgba(255, 205, 249, 0.27);
 -webkit-box-shadow: 1px 1px 30px -1px rgba(222,162,222,1);
  -moz-box-shadow: 1px 1px 30px -1px rgba(222,162,222,1);
  box-shadow: 1px 1px 30px -1px rgba(222,162,222,1);
}

.fullnameMsg{
  float:left;
}
.createdMsg{
  float:right;
  color:rgb(142, 142, 142);
}
.contentMsg{
  clear:both;
}
.greySpan{
  color:rgb(142, 142, 142);
}
#msgBodyInput{
  width:100%;
}
span.clear { clear: both; display: block; }


body > .container {
  margin-top:1%;
}

.badge {
  background-color: red;
  color:black;
}
.author_more {
  font-size:12px;

}
.form-control.dataType {
  display:inline-block;
  width:11%;
}
.col-sm-offset-2.col-sm-10.authorButton {margin-left: 8.666667%;}

#isDead { width: 4%;}

.form-group.died {display:none;}

.shortInput {width:34%;}

.footerLinks{
  cursor: pointer;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #BC5830;
  font-size: 14px;
  width: 100%;
  bottom: 5px;
  padding:0 5px 0 6px;
}
.footerLinks :hover {
  transition: none;
}
.text-muted {
  color: black;
}
.list-group-item {
  width:40%;
  position: relative;
  display: block;
  padding: 2px 8px;
  margin-bottom: -1px;
  background-color: rgba(253, 190, 53, 0.41);
  border: 1px solid #EF9D85;
}
.messageForm{
  width:100%;
  margin-left:5px;
}
#userPhoto{
  width:150px;
  height:150px;
  
}
.viewUserInfo{
  text-align: right;
}
#newFriend{
 
  text-align:center;
  cursor:pointer;
  border:solid 1px #BEBEBE;
  border-radius:15px;
  padding:7px 8px;
  background-color:#F9E6E5; 
  color:#BC5830;
  font-weight:bold;
  letter-spacing: .1em;
  margin-left:5px;
  margin-top:5px;

}
.friendAdded{
  border:solid 1px #BEBEBE;
  border-radius:15px;
  padding:7px 8px;
  background-color:#F9E6E5; 
  color:#BC5830;
  font-weight:bold;
  letter-spacing: .1em;
  margin-left:5px;
  margin-top:5px;
  cursor:pointer;
  text-align:center;
}
.addCover{
  margin-top:4px;
}
#bodyComment{
  width:90%;
  height:80px;
  margin-top:20px;
}
#messageSend{
  width:60%;
  height:80px;
  margin-top:20px;
}
.enterSend{
  color:red;
}
.navbar-default .navbar-nav > li > a {
color: #BC5830;
}
.navbar-default .navbar-brand {
  color: #000;
}
.caret {
  display: inline-block;
  width: 19px;
  height: 10px;
  margin-left: 4px;
  vertical-align: middle;
  border-top: 9px solid;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
}
.containerFriendLinks {
  margin-left: 910px;
  margin-bottom: -16px;
}
.friendsLinks{
  cursor: pointer;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #BC5830;
  font-size: 14px;
  width: 100%;
  bottom: 5px;
  padding:0 5px 0 6px;
  letter-spacing: .1em;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #BC5830;
}
.friendImage{
  width:75px;
  height:75px;
}
.row.friends {
  padding:10px;
  margin-right: auto;
  margin-left: auto;
  border-bottom:solid 1px #e5e5e5;
  border-top:solid 1px #e5e5e5;
}
.friendName{
  margin-top:20px;
}
.confirmBtn{
  border:solid 1px #BEBEBE;
  border-radius:5px;
  padding:5px 10px;
  background-color:#F9E6E5; 
  color:#BC5830;
  font-weight:bold;
  letter-spacing: .1em;
  margin-left:5px;
}
.navbar-nav > li {
  float: left;
  font-size: 18px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: -15px;
  font-size:18px;
}